nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    width: 100%;
    //background-color: $header-color;
    background-color: $secondary;
    font-family: 'Open Sans Condensed';
    .logo{
        color: $header-text-color;
        text-transform: uppercase;
        letter-spacing: 5px;
        font-size: 20px;
    }
    h4{
        color: white;
    }
}
.nav-links{
    display: flex;
    width: 25%;
    justify-content: space-around;
    li{
        list-style-type: none;
    }
    a{
        color: $header-text-color;
        text-decoration: none;
        letter-spacing: 3px;
        font-weight: bold;
        font-size: 14px;
    }a:hover{
        color: $link-hover-color;
    }
}
.burger {
    display: none;
    div{
        width: 25px;
        height: 3px;
        background-color:$header-text-color;
        margin: 5px;
    }
}
.user-logo{
    width: 50px;
    height:50px;
    background-color: red;
    border-radius: 50%;
}
@media screen and (max-width: 768px){
   html, body{
       overflow-x: hidden;
   }
   nav{
       position: fixed;
   }
    .nav-links{
        position: absolute;
        right:0px;
        height: 92vh;
        top: 8vh;
        background-color: $header-color;
        display: flex;
        flex-direction: column;
        justify-content:stretch;
        align-items: center;
        width: 40%;
        transform: translateX(100%);
        li{
            width: 100%;
            height: 40px;
            margin-top:20px;
            text-align: center;
            border-bottom: 1px solid $nav-border-color;
        }
    }
    .burger{
        display: block;
        cursor: pointer;
    }
}
@media screen and (max-width: 1024px){
    .nav-links{
        width: 40%;
    }
}
.navbar-visible{
    transform: translateX(0);
}