* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Open sans', sans-serif;
  color: steelblue;
}

body {
  background-color: #2d2206;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 8vh;
  width: 100%;
  background-color: #515C66;
  font-family: 'Open Sans Condensed';
}

nav .logo {
  color: #d1c8c8;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 20px;
}

nav h4 {
  color: white;
}

.nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 25%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.nav-links li {
  list-style-type: none;
}

.nav-links a {
  color: #d1c8c8;
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 14px;
}

.nav-links a:hover {
  color: #61bbdc;
}

.burger {
  display: none;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: #d1c8c8;
  margin: 5px;
}

.user-logo {
  width: 50px;
  height: 50px;
  background-color: red;
  border-radius: 50%;
}

@media screen and (max-width: 768px) {
  html, body {
    overflow-x: hidden;
  }
  nav {
    position: fixed;
  }
  .nav-links {
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 8vh;
    background-color: #5d4954;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: stretch;
        -ms-flex-pack: stretch;
            justify-content: stretch;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 40%;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  .nav-links li {
    width: 100%;
    height: 40px;
    margin-top: 20px;
    text-align: center;
    border-bottom: 1px solid #4d133e;
  }
  .burger {
    display: block;
    cursor: pointer;
  }
}

@media screen and (max-width: 1024px) {
  .nav-links {
    width: 40%;
  }
}

.navbar-visible {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 92vh;
  background-image: url("../images/background.jpg");
  background-size: cover;
  background-position: center;
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 67%;
  height: 92vh;
}

.content-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 75%;
  height: 92vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #5d4954;
}

.content-left h1 {
  width: 35vw;
  font-size: 55px;
  font-weight: bold;
  color: #515C66;
  font-family: 'Open Sans Condensed';
}

.signUp {
  width: 35vw;
  height: 200px;
  border-radius: 2%;
}

.signUp hr {
  margin-top: 5px;
}

.signUp h4 {
  color: #515C66;
}

form input {
  display: block;
  margin-top: 15px;
  width: 20vw;
  height: 40px;
  background-color: #ededed;
  color: #5d4954;
  padding: 8px;
  border: none;
  border-radius: 2%;
}

button {
  margin-top: 20px;
  width: 20vw;
  height: 45px;
  border: none;
  background-color: steelblue;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: #0e5997;
}

.loader {
  margin-top: 10px;
}

.error {
  border: 1px solid #dd9b9b;
  width: 20vw;
  padding: 10px;
  margin-top: 20px;
  background-color: #df9393;
  color: darkred;
  border-radius: 3%;
}

.content-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 25%;
  height: 92vh;
  background-color: rgba(255, 255, 255, 0.1);
}

@media screen and (max-width: 768px) {
  .container {
    height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .content {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .content-left {
    width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 30px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .content-left h1 {
    display: none;
  }
  .content-right {
    width: 100%;
    height: 100%;
  }
  .content-right .current-weather {
    margin-bottom: 0px;
    margin-top: 90px;
  }
  .signUp {
    width: 100%;
  }
  form input {
    width: 100%;
  }
  button {
    width: 100%;
    background-color: #079bca;
    height: 40px;
  }
  button:hover {
    background-color: #61bbdc;
  }
  .error {
    width: 100%;
  }
  body {
    overflow-x: hidden;
  }
  .h-large {
    font-size: 65px;
  }
}

h1 {
  font-size: 5vw;
  color: steelblue;
}

p {
  color: #333;
}

span {
  color: black;
  font-weight: bold;
}

.current-weather {
  color: #5d4954;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 220px;
}

.c-block {
  display: block;
  width: 100%;
}

.search {
  margin: 0 auto;
  width: 66%;
}

.search input {
  position: relative;
  margin-top: 20px;
  padding-left: 50px;
  width: 90%;
  height: 45px;
  font-size: 20px;
  display: inline-block;
}

.search-loader {
  position: absolute;
  margin-left: -55px;
  margin-top: 30px;
}

.weather-panel-item {
  width: 400px;
  height: 600px;
  background-color: black;
  margin: 0 auto;
  margin-top: 30px;
}

.weather-panel-head {
  width: 100%;
  height: 350px;
  background-color: #0d1f21;
}

.panel-title {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-right: 10px;
  padding-left: 10px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #ededed;
}

.panel-title h4 {
  text-transform: uppercase;
  font-family: 'Open Sans Condensed';
  font-weight: bold;
  letter-spacing: 2px;
  font-size: 20px;
  color: #fafbf7;
}

.panel-delete {
  color: #ededed;
  font-size: 12px;
}

.panel-delete:hover {
  color: steelblue;
  cursor: pointer;
}

.panel-body {
  height: 125px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.img-holder {
  width: 100px;
  height: 100px;
  background-color: #515C66;
  border-radius: 5px;
}

.temp-value {
  font-size: 75px;
  color: steelblue;
}

.panel-footer {
  height: 175px;
}

.panel-footer-section {
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.panel-footer-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: 'Open Sans Condensed', sans-serif;
}

.pfi-title {
  text-transform: uppercase;
  color: #ebf4f5;
  font-size: 13px;
  letter-spacing: 2px;
}

.pfi-value {
  color: #515C66;
  font-size: 30px;
}

.panel-footer-section-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.panel-button {
  width: 150px;
  border-radius: 5px;
  height: 38px;
  margin: 0;
}

.weather-panel-footer {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-top: 25px;
  text-align: center;
  width: 100%;
  height: 250px;
  background-color: #112929;
}

.weather-panel-footer h4 {
  text-transform: uppercase;
  font-size: 14px;
}

.weather-footer-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 175px;
}

.weather-footer-section-item {
  width: 30%;
}

.weather-footer-section-item h4 {
  color: #ebf4f5;
}

.weather-footer-section-item p {
  font-size: 30px;
  font-weight: bold;
  font-family: 'Open Sans Condensed', sans-serif;
  color: #515C66;
  color: #ebf4f5;
}

.footer-symbol {
  font-size: 50px;
  color: #677c7f;
}

.si-addition {
  font-size: 12px;
  color: #677c7f;
  margin-left: 10px;
}
/*# sourceMappingURL=main.css.map */